body {
  padding: 60px 0;
  background: #ffffff;
}
.footer{
  padding-top: 30px;
}
.error{
  color:red;
  font-size: .8em;
}
.input-group{
  margin: 15px 0;
}
#zaebal{
  border: 1px solid black;
  font-size: 1.2em;
}
